@keyframes play78 {
  0% {
    background-position: 0px 0px;
  }
  100% {
    background-position: -1872px 0px;
  }
}
.shapeshifter {
  animation-duration: 2300ms;
  animation-timing-function: steps(78);
  animation-fill-mode: forwards;
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
}

.play {
  animation-name: play78;
}


